.circle {
  background-color: #fff;
  border: 6px solid orange;
  height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 200px;
  position: relative;
  margin: 35px 55px;
}

.temp {
  position: absolute;
  font-size: 5.8rem;
  left: 35px;
  top: 35px;
  color: orange;
  flex: 1;
}
.leaflet-container {
  height: 100vh;
}

.degree {
  font-size: 1.7rem;
  position: relative;
  top: -45px;
  right: 15px;
  font-weight: lighter;
}
.feels-like {
  position: absolute;
  font-weight: lighter;
  color: gray;
  font-size: 1.1rem;
  left: 60px;
  top: 140px;
}

.container-today {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.today-info {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.map-me {
  flex: 1 1;
  margin-left: 20px;
  display: flex;
  width: 200px;
}
.leaflet-container {
  flex: 1;
  height: 300px;
  width: 300px;
}

.today-info-icons {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  align-content: center;
}

.today-info-cast {
  margin-bottom: 20px;
}
.today-info-cast-mobile {
  display: none;
}
.today-info-cast-desktop {
  text-align: center;
}
.today-info-wind-mobile {
  display: none;
}
.wind-stats {
  color: grey;
  text-align: center;
  margin-top: 5px;
}
.testing {
  align-self: flex-start;
  font-size: 12px;
  color: grey;
}

.today-boxes-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.today-boxes {
  height: 250px;
  width: 200px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
}

.today-boxes:nth-child(even) {
  background-color: #e7e7e7;
}

.today-boxes-header {
  display: flex;
  justify-content: flex-start;
}

.today-boxes-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.today-boxes-summary {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin: 20px 10px;
  padding: 20px 10px;
}
.today-boxes-stats {
  margin-left: 20px;
}
.today-boxes-stats > * {
  margin: 5px 0;
}
.today-boxes-date {
  color: grey;
}

@media only screen and (max-width: 700px) {
  .today-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
  }
  .circle {
    height: 250px;
    width: 250px;
  }
  .temp {
    left: 55px;
    top: 60px;
    font-size: 6rem;
  }
  .feels-like {
    left: 80px;
    top: 180px;
    font-size: 1.4rem;
  }
  .today-info-icons {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .today-info-cast-mobile {
    display: block !important;
  }
  .today-info-cast-desktop {
    display: none !important;
  }
  .today-info-wind-mobile {
    display: block !important;
  }
  .today-info-wind-desktop {
    display: none !important;
  }

  .today-boxes {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 220px;
  }
  .today-boxes-stats {
    min-width: 100px;
    margin-left: 10px;
  }
  .today-boxes-header {
    margin-top: 40px;
  }
}
